a:hover{
  text-decoration: none;
}
.active{
  color:#ec6952;
}

/* ======= Background  ======= */
.home-page{
  display: block;
  height: 1000px;
  background:url('../../images/common/top-bg.jpg') no-repeat 50% bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ======= Promo ======= */
.promo {
  padding-top: 20px;
  position: relative;
  color: #fff;
  height: 620px;
  z-index: 10;
}
.promo .title {
  font-size: 70px;
  margin-top: 12%;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.lost-info .column{
  display: inline-block;
  width: 14%;
  margin-right: 30px;
  font-size:25px;
}

/* ======= Least news ======= */
.icon-title{
  vertical-align:middle;
  display:inline-block;
  float:left;
  margin-right:10px;
}
.text-title{
  font-size:20px;
  display:inline-block;
  height:30px;
  line-height:30px;
}
.Lost-pic{
  width:100%;
  height:150px;
}
.home-input{
   margin-top:5%;
   margin-bottom:10%;
   width:360px;
   height:50px;
   color:#000;
   padding-left:10px;
}
.search-btn{
  width:110px;
  height:50px;
  border-radius:0;
}